body, html {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  margin: 0;
  background-image: url(acrossSpaceAnimation.gif);
  background-size: cover;
  font-family: 'Courier New', monospace;
}

.main-content {
  background-image: linear-gradient(to bottom right, purple, violet, dodgerblue, blue);
  margin: 5% 10%; 
  padding-top: 1%;
  border-radius: 30px;
}

#title {
  margin: 0 10%;
  font-size: 60px;
  text-align: center;
}

.title-box {
  margin: 5%;
  background-color: black;
  color: white;
  padding: 1%;
  border-radius: 20px;
}

#description {
  font-size: 30px;
}

.desc-box {
  margin: 5%;
  background-color: black;
  color: white;
  padding: 1%;
  border-radius: 20px;
}

.button-box {
  margin: 5%;
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
}

#start-button {
  margin-bottom: 5%;
  background-color: #222;
  font-family: 'Courier New', monospace;
  color: white;
  font-size: 30px;
  padding: 5% 10%;
  border-radius: 10px;
  border: 0;
}

#start-button:hover {
  background-color: #333;
  cursor: pointer;
}