.slidecontainer {
    width: 50%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.centeredOptions {
    align-items: center;
    display: flex;
    justify-content: center;
}

.categoryTitle {
    margin-left: 1%;
    margin-top: 1%;
}

.budgetBox {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #eeeeee;
    border: solid 0.2em #cccccc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2%;
}

.progressButtons {
    margin-left: auto;
    margin-right: 10%;
}

.progressButtons button {
    /*background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; */
    margin-left: 1em;
    margin-right: 1em;
    background-color: #04AA6D;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px 32px;
    border: solid 0px #555;
    box-shadow: 5px -5px 2.5px  rgba(0,0,0,0.2);
    -moz-box-shadow: 5px -5px 2.5px  rgba(0,0,0,0.2);
    -webkit-box-shadow: 5px -5px 2.5px  rgba(0,0,0,0.2);
    -o-box-shadow: 5px -5px 2.5px  rgba(0,0,0,0.2);
    border-radius:15px;

}

.builderHeader {
    display: flex;
    align-items: center;
}

.switchLeft {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 5%;
}

.switchRight {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 5%;
}

.rocketSection {
    display: flex;
    align-items: center;
    width: 100%;
}

.rocketPart {
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paddedDiv {
    height:100%;
    width:20%;
}

.statBox {
    justify-content: center;
    background-color: #04AA6D;
}